{% extends "base.html" %} {% block content %}
<div class="row justify-content-center mt-5">
	<div class="col-md-5">
		<h2>Dear Diary</h2>
	</div>
</div>

<div class="row justify-content-center mt-5">
	<div class="col-md-5">
		{% if error %}
		<div class="alert alert-danger" role="alert">
			{{ error }}
		</div>
		{% endif %}
			<div class="form-group">
				<label for="title">Date time  {{ log.created }}</label>
				<p>{{ log.description }}</p>
			</div>
			<div class="form-group form-check">
				{% comment %} {% if todo.intresting %}
				Intresting : True
				{% else %}
				Intresting : False
				{% endif %} {% endcomment %}
				<label class="form-check-label" for="intresting"</label>
			</div>
			<a href="{% url 'edit_log' log.id %}" class="btn btn-warning">Edit</a>
			</button>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
